
/*I NEED TO ORGANIZE LATER*/

/*IPHONE VIEW*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
 }
  /*iphone view*/
  @media(max-width: 700px){
     .text-box h1{
         font-size: 20px;
     }
     .nav-links ul li{
         display: block;
     }
  }


  .header{
   min-height: 100vh;
   width: 100%;
   /*the gif adds to the moving banner on the website*/
   background-image: linear-gradient(rgba(147, 149, 158, 0.7),rgba(147, 149, 158, 0.7)),url(images/banner.gif);
   background-position: center;
   background-size: cover;
   position: relative;
}
/*Loading Screen*/
.loading{
  background: rgb(242, 146, 183) url("--") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
}

*{
    margin: 0;
    padding: 0;
    /*can be applied to all of the html elements*/
    /*FIX THE FONT FAMILY TO THE REAL ONE OR CHOSEN ONE*/
    font-family: 'Poppins', sans-serif;
    /*the second part of the font from google!!*/
 }


 /*background colors and images*/
 .header{
    min-height: 100vh;
    width: 100%;
    /*the gif adds to the moving banner on the website*/
    background-image: linear-gradient(#F0B9C5,#C48FC1),url(images/--);
    background-position: center;
    background-size: cover;
    position: relative;
 }

}


 /*the inventory btn aka the 'Find Your Dream Car Today!' btn/box*/
 .inv-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
 }

 /*when the inv-btn is hovered by the cursor then there will be a different color, this is similar to the underline of the cta buttons*/
 .inv-btn:hover{
    border: 1px solid rgb(237, 173, 184);
    background: rgb(217, 182, 239);
    transition: 1s;
 }


}
/*this will align the different buttons (home, inventory, ect.)*/
nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
nav img{
   width: 150px;
}
 /*fixing the size of the logo*/
 .nav-links{
    flex: 1;
    text-align: right;
 }
 /*the ul and li are basically the list/buttons on the top of the page*/
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }
 /*color and removing the underlining of buttons aka the animation :)*/
 .nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 13px;
 }
 /*underline for the buttons*/
 .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(77, 66, 68);
    display: block;
    margin: auto;
    transition: 0.5s;
 }
 /*the button underline is only seen with cursor on it*/
 .nav-links ul li:hover::after{
    width: 100%;
 }
 /*to make the text into the center of the website*/
 .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
 }
 /*title size*/
 .text-box h1{
    font-size:62px;
 }
 /*size of the text under the title and the text color*/
 .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
 }

/*buttons*/
.team{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}

h1{
   font-size: 36px;
   font-weight: 600;
}
p{
   color: rgb(61, 56, 56);
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-evenly;
}
/*box around descriptions*/
.team-col{
   flex-basis: 23%;
   background: rgb(255, 255, 255);
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
}
h3{
   text-align: center;
   font-weight: 600;
   margin: 10px;
}
/*hover effect*/
.team-col:hover{
   box-shadow: 0 0 20px rgba(89, 0, 255, 0.2);
}

