/* Color Codes:
Blue: #56B1EE
Yellow: #F3DB6F
Orange: #FFB668
Pink: #F39895
Purple: #9674AF */


body {
    background-color: #F0B9C5;
    padding-right: 50px;
    padding-left: 50px;
  }

div {
    background-color: #9674AF;
    border: 5px solid #56B1EE;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
  }

p {
    color: white
}

img {
    max-width: 20%;
    height: 20%;
  }

.column {
    background-color: #ffb668
}

h1 {
    color: #F3DB6F
}

h2 {
    background-color: #F3DB6F
}

h3 {
    color: #56B1EE;
    font-family: 'Ubuntu';
    font-size: 24px;
}