/* Color Codes:
Blue: #56B1EE
Yellow: #F3DB6F
Orange: #FFB668
Pink: #F39895
Purple: #9674AF */

.header{
    min-height: 10vh;
    width: 100%;
 /*linear gradient is how the background goes from the pink to the purple*/
    background-color: #CAF0F8;
    background-position: center;
    background-size: cover;
    position: relative;
 }


body {
    background-color: #CAF0F8;
    padding-right: 50px;
    padding-left: 50px;
  }

div {
    background-color: #48CAE4;
    border: 5px solid #56B1EE;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
  }

h1, h2 {
    font-family: 'Ubuntu';
    font-size: 24px;
    color: #FFB668
}

p {
    color: white
}

img {
    max-width: 20%;
    height: 20%;
  }

.column {
    background-color: #ffb668
}

h1 {
    color: #F3DB6F
}

h2 {
    background-color: #F3DB6F
}

h3 {
    color: #56B1EE;
    font-family: 'Ubuntu';
    font-size: 24px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #F39895;
    position: relative;
  }

@keyframes example {
0% {
    transform: translateX(0);
}
50% {
    transform: translateX(200px);
    background-color: #75be61;
}
100% {
    transform: translateX(0);
    background-color: #F39895;
}
}

.box {
    width: 100px;
    height: 100px;
    background-color: #F39895;
    position: relative;
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  