html, body {
    height: 100%;
  }
  body {
    background: white;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 30px solid white;
    background: tan;
    text-align:center;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;\
  }