body {
    background-color: #F0B9C5;
  }
  
  h1, h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
  }
  
  p {
    color: rgb(110, 112, 172);
  }
  
  .column {
    border-radius: 25px;
    background: #ffffff;
    padding: 100px;
    width: 1500px;
    padding: 50px;
  }
  
  h2 {
    background-color: #FDE0CA;
    padding: 5px;
    color: #6E70AC

  }
  
  h1 {
    color: rgb(110, 112, 172);

  }
  