<!DOCTYPE html>
<html>
    <head>
        <!--iphone or other device view so it can format correctly-->
        <meta name="viewport" content="with=device-width", initial scale="1.0">
        <title>EC-2-GAL</title>
        <!--to connect to the .css sheet in this case it will be index.css since there will be a different .css pae for each page so there can be easy clean up-->
        <link rel="stylesheet" href="index.css">
        <!--the google fonts links front https://fonts.google.com/-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <a href="home.html"><img src ="images/logo.png"></a>
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="/home.html">HOME</a></li>
                        <li><a href="/page1.html">CU1</a></li>
                        <li><a href="/page2.html">CU2</a></li>
                        <li><a href="/page3.html">JAVA</a></li>
                        <li><a href="/page4.html">HACKS</a></li>
                    </ul>
                    <!--loading screen-->
                    <script>
                        var loader = document.getElementById("loading");
                        window.addEventListener("load", function(){
                            loader.style.display = "none";
                        })
                    </script>
                </div>
            </nav>

<!--Start of Website Content-->
<div class="text-box">
    <h1>Title</h1>
    <p>Description</p>
    <a href="page1.html" class="inv-btn">Button</a>
</div>

        </section>
    </body>
</html>


